<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>
    <body>
        <div class="navbar">
            <h2><a href="/">Home</a> |</h2>
            <h2>Projects |</h2>
            <h2><a href="/contact">Contact</a></h2>
        </div>
        <h1>Here are some projects of mine!</h1>
        <div id="scrollable" style="overflow:scroll; height:400px;">
            <div class="imagescroll">
                <img src="~/img/car01.jpg">
                <h5>Cool thing #1!</h5>
            </div>
            <div class="imagescroll">
                <img src="~/img/car02.jpg">
                <h5>Cool thing #2!</h5>
            </div>
            <div class="imagescroll">
                <img src="~/img/car03.jpg">
                <h5>Cool thing #3!</h5>
            </div>
            <div class="imagescroll">
                <img src="~/img/car04.jpg">
                <h5>Cool thing #4!</h5>
            </div>
            <div class="imagescroll">
                <img src="~/img/car05.jpg">
                <h5>Cool thing #5!</h5>
            </div>
        </div>
        <h3>@ViewBag.Example</h3>
    </body>
</html>